@page "/"
@inject HttpClient Http
<h3>RegistroMigrantes</h3>

<form>
    <div class="form-group">
        <label for="Nombre">Nombre(s)</label>
        <input type="text" class="form-control" id="Nombre" />
        <label for="Apellidos">Apellidos</label>
        <input type="text" class="form-control" id="Apellidos" />

        <label for="Edad">Edad</label>
        <input type="number" class="form-control" id="Apellidos" />

        <label for="Direccion">Direccion</label>
        <input type="text" class="form-control" id="Dirección" />
        <label for="Telefono">Teléfono</label>
        <input type="number" class="form-control" id="Telefono" />
        <label for="Correo">Correo</label>
        <input type="email" class="form-control" id="Correo" />
        <label for="Procedencia">Lugar de procendica</label>
        <input type="text" class="form-control" id="Procedencia" />
        <label for="Dedicaba">¿A qué se dedicaba?</label>
        <input type="text" class="form-control" id="Dedeicaba" />
        <label for="Hablidades">¿A qué le gustaría dedicarse?</label>
        <input type="text" class="form-control" id="Habilidades" />

    </div>
    <div class="form-group">
        <label for="Observaciones">Observaciones</label>
        <textarea class="form-control" id="Observaciones" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
@code {
    string ConexionServidor = "En espera";
    async Task ProbarConexion()
    {
        var respuesta = await Http.GetStringAsync("https://localhost:44377/api/Formulario/ConexionServidor");

        ConexionServidor = "Conectado al servidor";
    }
    protected override async Task OnInitializedAsync()
    {
        await ProbarConexion();
    }
}
